---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import "@/styles/global.css";
import { Button } from "@/components/ui/button";
import Background from "@/components/ui/Background/background.astro";
import Features from "@/components/Landing/Features.astro";
import { Link } from "@/components/ui/buttonlink";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-dvh flex flex-col">
		<Background />
		<Header />
		<main
			class="flex flex-col items-center justify-center gap-4 lg:gap-8 pt-28 md:pt-56 pb-12 lg:pb-16 flex-grow"
		>
			<h1
				class="animate-rise delay-250 text-center font-bold text-4xl md:text-5xl lg:text-6xl"
			>
				<span class="font-black">Safe</span> & <span class="font-black"
					>Resilient Cash</span
				>, straight into your <span class="font-black">wallet</span>
			</h1>
			<h5
				class="animate-[rise_.6s_ease-out_.12s_both] delay-700 font-bold text-center text-gray-500 text-lg leading-snug max-w-[52ch] sm:max-w-[30ch] [text-wrap:balance]"
			>
				An open-source Zcash wallet in active development
			</h5>
			<div
				class="animate-[scale-in_.6s_ease-out_.12s_both] delay-1000 flex flex-col md:flex-row items-center justify-center gap-2"
			>
				<Link
					href="/zingo/blog/inside-zingo-development"
					className="md:mr-4 hover:brightness-110 hover:saturate-110"
					>latest news</Link
				>
				<Button variant={"outline"}>legacy version</Button>
			</div>
		</main>
		<Features />
		<Footer />
	</body>
</html>
