---
export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Instant client-side redirect -->
		<meta http-equiv="refresh" content="0; url=/" />
		<link rel="canonical" href="/" />
	</head>
	<body>
		<noscript>
			<a href="/">Go to home</a>
		</noscript>
	</body>
</html>
