---
import { SITE_TITLE } from "../consts";
import { SunMediumIcon } from "lucide-react";
import Icon from "./ui/Icon.astro";
---

<header class="z-50 mx-2 md:mx-20">
	<nav class="p-3 md:p-6 flex items-center justify-between">
		<h2 class="flex items-center gap-1 leading-none text-lg">
			<Icon
				viewBox="0 0 36 36"
				name="zingo"
				variant="solid"
				class="align-middle"
			/>
			<a href="/" class="font-serif align-middle leading-none">ZINGO</a>
		</h2>
		<div class="flex items-center gap-3 md:gap-5 font-bold leading-none">
			<a class="inline-flex items-center leading-none" href="/zingo/blog/"
				>blog</a
			>
			<a class="inline-flex items-center leading-none" href="#">legacy zingo</a>
			<a
				href="https://github.com/zingolabs"
				target="_blank"
				rel="noopener noreferrer"
				class="inline-flex items-center gap-2 leading-none"
			>
				<span class="sr-only">Go to Zingolabs's GitHub org</span>
				<Icon name="github" variant="outline" class="w-6 h-6 align-middle" />
			</a>
		</div>
	</nav>
</header>
<style>
	/* TODO: Convert these styles into tailwind styles */
	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
