---

---

<div
	class="absolute inset-0 -z-10 isolate pointer-events-none overflow-clip"
	aria-hidden="true"
>
	<!-- Unblurred art -->
	<svg
		class="absolute left-1/2 -translate-x-1/2 top-1/8 w-[min(90vw,900px)] h-auto"
		viewBox="0 0 704 356"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M384.273 290.956C323.863 253.057 -67.197 64.3471 11.1447 15.1986C89.4864 -33.95 605.745 55.8306 666.155 93.7296C726.565 131.629 712.029 202.195 633.687 251.343C555.345 300.492 444.683 328.855 384.273 290.956Z"
			fill="#B5FF20"></path>
		<path
			d="M116.778 65.633C170.296 46.2483 270.013 47.6886 326.42 108.982C382.828 170.276 385.17 235.679 331.652 255.064C278.134 274.449 125.36 255.581 68.9527 194.287C12.545 132.994 63.2593 85.0178 116.778 65.633Z"
			fill="#7DFF20"
			style="mix-blend-mode:screen"></path>
		<path
			d="M231.34 193.246C287.853 187.065 332.574 178.125 348.995 237.213C365.415 296.301 332.914 349.212 276.401 355.394C219.888 361.575 160.764 318.685 144.343 259.597C127.922 200.509 174.827 199.428 231.34 193.246Z"
			fill="#C7FF7D"></path>
	</svg>

	<div
		class="absolute -inset-[220px]
         bg-[#4FFF4F]/[.04] backdrop-blur-[180px]
         [mask-image:linear-gradient(180deg,black_0%,black_85%,transparent_100%)]"
	>
	</div>
</div>
